[Desktop Entry]
Comment[en_US]=
Comment=
Exec=python3 ./gmacchanger.py
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=GUI for macchanger
Name=GUI for macchanger
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
